body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: radial-gradient(#e66465, #9198e5);
}

input {
    background-color:#FBEAFF ;
    padding: 15px;
    padding-top: 15px;
}

#button {
    padding-top: 15px;
    padding-block: 10px;
    background-color:#00C9A7;
    margin: 15px;
}

.container {
    width: 50%; /* Ancho del contenedor */
            margin: 0 auto; /* Centrar el contenedor */
            padding: 20px; /* Espaciado interno del contenedor */
            border: 5px solid #000; /* Borde del contenedor */
            border-radius: 10px;

             margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            width: auto;
            align-content: center;
            margin-left: 50px;
            background-color: #B39CD0;
}
h1 {
    margin-right: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}